# Module 1: Data validation and pre-processing technique

In [1]:
#import library packages
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Load given dataset
data = pd.read_csv("data.csv")

Before drop the given dataset:

In [4]:
data.head()

,SFH,popUpWidnow,SSLfinal_State,Request_URL,URL_of_Anchor,web_traffic,URL_Length,age_of_domain,having_IP_Address,Result
0,1,-1,1,-1,-1,1,1,1,0,0
1,-1,-1,-1,-1,-1,0,1,1,1,1
2,1,-1,0,0,-1,0,-1,1,0,1
3,1,0,1,-1,-1,0,1,1,0,0
4,-1,-1,1,-1,0,0,-1,1,0,1

In [5]:
#shape
data.shape

(1353, 10)

After drop the given dataset:

In [6]:
df = data.dropna()

In [7]:
df.head()

,SFH,popUpWidnow,SSLfinal_State,Request_URL,URL_of_Anchor,web_traffic,URL_Length,age_of_domain,having_IP_Address,Result
0,1,-1,1,-1,-1,1,1,1,0,0
1,-1,-1,-1,-1,-1,0,1,1,1,1
2,1,-1,0,0,-1,0,-1,1,0,1
3,1,0,1,-1,-1,0,1,1,0,0
4,-1,-1,1,-1,0,0,-1,1,0,1

In [8]:
#shape
df.shape

(1353, 10)

In [9]:
#columns
df.columns

Index(['SFH', 'popUpWidnow', 'SSLfinal_State', 'Request_URL', 'URL_of_Anchor',
       'web_traffic', 'URL_Length', 'age_of_domain', 'having_IP_Address',
       'Result'],
      dtype='object')

In [10]:
#To describe the dataframe
df.describe()

,SFH,popUpWidnow,SSLfinal_State,Request_URL,URL_of_Anchor,web_traffic,URL_Length,age_of_domain,having_IP_Address,Result
count,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000,1353.000000
mean,0.237990,-0.258684,0.327421,-0.223208,-0.025129,0.000000,-0.053215,0.219512,0.114560,-0.113821
std,0.916389,0.679072,0.822193,0.799682,0.936262,0.806776,0.762552,0.975970,0.318608,0.954773
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000
25%,-1.000000,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000
50%,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-1.000000
75%,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1353 entries, 0 to 1352
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SFH                1353 non-null   int64
 1   popUpWidnow        1353 non-null   int64
 2   SSLfinal_State     1353 non-null   int64
 3   Request_URL        1353 non-null   int64
 4   URL_of_Anchor      1353 non-null   int64
 5   web_traffic        1353 non-null   int64
 6   URL_Length         1353 non-null   int64
 7   age_of_domain      1353 non-null   int64
 8   having_IP_Address  1353 non-null   int64
 9   Result             1353 non-null   int64
dtypes: int64(10)
memory usage: 116.3 KB

Checking duplicate values of dataframe

In [12]:
#Checking for duplicate data
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1348     True
1349     True
1350     True
1351    False
1352     True
Length: 1353, dtype: bool

In [13]:
sum(df.duplicated())

629

In [14]:
#Checking sum of missing values
df.isnull().sum()

SFH                  0
popUpWidnow          0
SSLfinal_State       0
Request_URL          0
URL_of_Anchor        0
web_traffic          0
URL_Length           0
age_of_domain        0
having_IP_Address    0
Result               0
dtype: int64

In [15]:
df.age.unique()

array([70, 67, 57, 64, 74, 65, 56, 59, 60, 63, 53, 44, 61, 71, 46, 40, 48,
       43, 47, 54, 51, 58, 66, 37, 50, 42, 62, 49, 52, 45, 41, 76, 39, 35,
       55, 34, 38, 69, 68, 77, 29], dtype=int64)

In [16]:
df.sex.unique()

array([1, 0], dtype=int64)

In [17]:
df.cp.unique()

array([4, 3, 2, 1], dtype=int64)

In [18]:
df.trestbps.unique()

array([130, 115, 124, 128, 120, 110, 140, 150, 135, 142, 134, 112, 132,
       138, 160, 170, 144, 122, 152, 101, 126, 118, 136, 105, 174, 145,
       108, 156, 106, 104,  94, 146, 148, 178, 125, 100, 165, 180, 158,
       200, 117, 192, 123, 129, 102, 155, 172], dtype=int64)

In [19]:
df.chol.unique()

array([322, 564, 261, 263, 269, 177, 256, 239, 293, 407, 234, 226, 235,
       303, 149, 311, 203, 211, 199, 229, 245, 204, 288, 275, 243, 295,
       230, 265, 228, 215, 326, 200, 207, 273, 180, 222, 223, 209, 233,
       197, 218, 246, 225, 315, 205, 417, 195, 198, 166, 178, 249, 281,
       126, 305, 240, 276, 319, 242, 260, 354, 309, 208, 236, 270, 214,
       201, 244, 306, 221, 330, 266, 206, 212, 302, 313, 141, 237, 289,
       254, 274, 258, 160, 327, 304, 271, 283, 188, 286, 360, 267, 196,
       232, 277, 210, 213, 282, 167, 224, 268, 250, 219, 217, 308, 193,
       231, 262, 259, 325, 299, 182, 294, 298, 409, 172, 184, 394, 174,
       255, 248, 300, 318, 216, 252, 227, 220, 168, 183, 341, 186, 307,
       164, 257, 321, 264, 253, 185, 290, 175, 353, 335, 247, 340, 284,
       192], dtype=int64)

In [20]:
df.restecg.unique()

array([2, 0, 1], dtype=int64)

In [21]:
df.target.unique()

array([2, 1], dtype=int64)

In [22]:
print("Age of patient ranges :", sorted(df['age'].unique()))

Age of patient ranges : [29, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 74, 76, 77]

In [23]:
df["target"].value_counts()

1    150
2    120
Name: target, dtype: int64

In [24]:
df.corr()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,1.000000,-0.094401,0.096920,0.273053,0.220056,0.123458,0.128171,-0.402215,0.098297,0.194234,0.159774,0.356081,0.106100,0.212322
sex,-0.094401,1.000000,0.034636,-0.062693,-0.201647,0.042140,0.039253,-0.076101,0.180022,0.097412,0.050545,0.086830,0.391046,0.297721
cp,0.096920,0.034636,1.000000,-0.043196,0.090465,-0.098537,0.074325,-0.317682,0.353160,0.167244,0.136900,0.225890,0.262659,0.417436
trestbps,0.273053,-0.062693,-0.043196,1.000000,0.173019,0.155681,0.116157,-0.039136,0.082793,0.222800,0.142472,0.085697,0.132045,0.155383
chol,0.220056,-0.201647,0.090465,0.173019,1.000000,0.025186,0.167652,-0.018739,0.078243,0.027709,-0.005755,0.126541,0.028836,0.118021
fbs,0.123458,0.042140,-0.098537,0.155681,0.025186,1.000000,0.053499,0.022494,-0.004107,-0.025538,0.044076,0.123774,0.049237,-0.016319
restecg,0.128171,0.039253,0.074325,0.116157,0.167652,0.053499,1.000000,-0.074628,0.095098,0.120034,0.160614,0.114368,0.007337,0.182091
thalach,-0.402215,-0.076101,-0.317682,-0.039136,-0.018739,0.022494,-0.074628,1.000000,-0.380719,-0.349045,-0.386847,-0.265333,-0.253397,-0.418514
exang,0.098297,0.180022,0.353160,0.082793,0.078243,-0.004107,0.095098,-0.380719,1.000000,0.274672,0.255908,0.153347,0.321449,0.419303
oldpeak,0.194234,0.097412,0.167244,0.222800,0.027709,-0.025538,0.120034,-0.349045,0.274672,1.000000,0.609712,0.255005,0.324333,0.417967
slope,0.159774,0.050545,0.136900,0.142472,-0.005755,0.044076,0.160614,-0.386847,0.255908,0.609712,1.000000,0.109498,0.283678,0.337616
ca,0.356081,0.086830,0.225890,0.085697,0.126541,0.123774,0.114368,-0.265333,0.153347,0.255005,0.109498,1.000000,0.255648,0.455336
thal,0.106100,0.391046,0.262659,0.132045,0.028836,0.049237,0.007337,-0.253397,0.321449,0.324333,0.283678,0.255648,1.000000,0.525020
target,0.212322,0.297721,0.417436,0.155383,0.118021,-0.016319,0.182091,-0.418514,0.419303,0.417967,0.337616,0.455336,0.525020,1.000000